@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.search_input {
  @apply max-lg:w-fit lg:w-full rounded-md border border-gray-200 bg-white py-2.5 pl-5 lg:pr-12 text-lg shadow-lg font-medium focus:outline-none focus:ring-0;
}

.order_cart_confirm {
  @apply flex flex-1  items-center justify-center gap-1 text-base font-normal;
}

.add_minus-btn {
  @apply bg-vibrant-pink flex-1 h-5 lg:h-8 text-center rounded-xl flex items-center justify-center;
}

.add_minus-div {
  @apply bg-vibrant-light-pink w-16 lg:w-32  flex self-center items-center justify-evenly rounded-md text-white;
}

.section-title {
  @apply text-2xl md:text-3xl xl:text-4xl;
}

.section-subtitle {
  @apply text-lg md:text-xl xl:text-2xl;
}

.foodcard-grid {
  @apply grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Add this CSS to hide the scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.content-container {
  margin-bottom: 0;
}

.custom-slider {
  height: 2px; /* Adjust the height */
  padding: 3px;
  background: linear-gradient(
    to right,
    #fd1e52 0%,
    #fd1e52 var(--value),
    #cfcece var(--value),
    #cfcece 100%
  );

  -webkit-appearance: none;
  appearance: none;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Adjust thumb width */
  height: 20px; /* Adjust thumb height */
  background: #ffffff; /* Adjust thumb color */
  cursor: pointer;
  outline: 1px solid #d4d4d4;

  border-radius: 50%; /* Make thumb circle */
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.custom-slider::-moz-range-thumb {
  width: 20px; /* Adjust thumb width */
  height: 20px; /* Adjust thumb height */
  background: #ffffff; /* Adjust thumb color */
  cursor: pointer;
  border-radius: 50%; /* Make thumb circle */
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* styles/globals.css or client/components/search_components/FilterSection.module.css */

.custom-checkbox {
  -webkit-appearance: none; /* Hide default checkbox */
  -moz-appearance: none; /* Hide default checkbox */
  appearance: none; /* Hide default checkbox */
  width: 0.8rem; /* Adjust size as needed */
  height: 0.8rem; /* Adjust size as needed */
  border: 1px solid #d4d4d4; /* Default border */
  border-radius: 0.25rem; /* Optional: rounded corners */
  background-color: white; /* Default background */
  position: relative;
}

.custom-checkbox:checked {
  background-color: #fd1e52; /* Your desired background color */
  border-color: #fd1e52; /* Optional: match the border color */
}

.custom-checkbox:checked::before {
  content: "✔"; /* Use a checkmark symbol */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.6rem; /* Adjust size as needed */
  color: white; /* Adjust color as needed */
}

@media (min-height: 100vh) {
  .content-container::after {
    content: "";
    display: block;
    height: 4rem; /* Equivalent to mb-16 */
  }
}
